/* Copyright 2015. All Rights Reserved
   Developed by Dave Berning for Upright Communications
   Interactive form label floats that work with jQuery validate
*/

/* VARIABLES, MIXINS
------------------------------------------------*/
$focus: #366b7b; // valid field and focused
$not-focused: #545454; // valid field, not focused
$invalid: #DA5757; // invalid
$submit: #747474; // submit button
$txt-focus: white;
$font-focus: 10px;

$field-padding: 4px 6px 20px 6px;
$font-family: 'Oswald', sans-serif;

@mixin border($pixels, $style, $color) {
    border: $pixels $style $color;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

form > div {
  position: relative;
  margin-bottom: 1rem;
}

input,
input:valid,
textarea,
textarea:valid {
  width: 100%;
  @include border(2px, solid, $not-focused);
  background-color: transparent !important;
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  outline: 0;
  padding: $field-padding !important;
  color: $not-focused;
}

label,
input:focus label span,
input:active label span {
  padding: 5px !important;
  background-color: transparent;
}

label.error,
input.error + label span,
input.error + label span + label span,
input.error:active + label span + label span,
input.error:focus + label span,
input.error:active + label span,
input.error:focus + label span + label span,
input.error:active + label span + label span,

textarea.error + label span,
textarea.error + label span + label span,

textarea.error:focus + label span,
textarea.error:active + label span,
textarea.error:focus + label span + label span,
textarea.error:active + label span + label span { /* Errors */
  background: $invalid !important;
  color: white !important;
  width: 100%;
  padding: 1px 3px;
  display: block;
}

input.error,
input.error:focus,
input.error:active,
textarea.error,
textarea.error:focus,
textarea.error:active,
select.error,
select.error:focus,
select.error:active {
     @include border(2px, solid, $invalid !important); /* Red border on errors */
}

input.error + label,
input.error + label + label,
textarea.error,
textarea.error + label,
textarea.error + label + label {
  text-transform: uppercase;
}

label {
  transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
  position: absolute;
  color: $not-focused !important;
  margin-bottom: 0px;
  padding: 5px !important;
  top: 0 !important;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: transparent !important;
}

input:focus + label span {
  font-size: 10px;
  padding: 0;
}

.form-group {
  padding:0;
  margin-bottom: 0;
}

input:focus,
input:active,
textarea:focus,
textarea:active,
select:focus {
  padding: 4px 6px 20px 6px;
  padding: $field-padding;
  border-color: $focus !important; /* Border color of focused/active field */
}

/* DEFAULT LABEL SIZE
--------------------------------------------------------*/
label.error,
input:focus + label span,
input:focus:not(:required) + label span,
input:valid + label span + label span,
input:focus + label span + label span,
textarea:focus + label span,
textarea:focus + label span + label span,
textarea:valid + label span + label span {
  background: $focus !important; /* Transformed label */
  color: white !important;
  font-size: 10px;
  padding: 1px 3px;
  z-index: 1;
  text-transform: uppercase;
  display: block;
}


/* LABEL WHEN FOCUSED/ACTIVE/VALID (transformed)
--------------------------------------------------------*/
label.error,
input:active label,
input:active:not(:focus) + label,
input.error + label,
input.error:focus + label,
input.error:active + label,
input.error + label + label,
input.error:focus + label + label,
input.error:active + label + label,
textarea.error + label,
textarea.error:focus + label,
textarea.error:active + label,
textarea.error + label + label,
textarea.error:focus + label + label,
textarea.error:active + label + label,
input:focus + label,
input:focus + label + label,
input.valid:valid:not(:focus) + label,
input.valid:valid:not(:focus) + label + label.valid,
textarea:focus + label,
textarea:focus + label + label,
textarea:active:not(:focus) + label,
textarea.valid:valid:not(:focus) + label,
textarea.valid:valid:not(:focus) + label + label.valid,
textarea:focus + label + label,
textarea.valid:valid:not(:focus) + label,
textarea.valid:valid:not(:focus) + label + label.valid  { /* This is what makes the label transform (don't tweak unless you know what you're doing) */
  top: 100% !important;
  padding: 3px 2px !important;
  margin-top: -18px;
  font-size: 10px !important;
  z-index: 12;
}

textarea.error:focus + label,
textarea.error:active + label,
textarea.error + label + label,
textarea.error:focus + label + label,
textarea.error:active + label + label,
textarea:focus + label,
textarea:focus + label + label,
textarea:active:not(:focus) + label,
textarea.valid:valid:not(:focus) + label,
textarea.valid:valid:not(:focus) + label + label.valid,
textarea:focus + label + label,
textarea.valid:valid:not(:focus) + label,
textarea.valid:valid:not(:focus) + label + label.valid { /* textarea border fix */
  padding: 0 !important;
}

input.valid:valid:not(:focus) + label span,
input.valid:valid:not(:focus) + label span + label, span
textarea.valid:valid:not(:focus) + label span,
textarea.valid:valid:not(:focus) + label span + label span,
input.valid:not(:required) + label span,
textarea.valid:valid:not(:focus) + label span { /* If the field is valid and not focused or active */
  background: $not-focused;
  text-transform: uppercase;
  color: white;
  z-index: 10;
  display: block;
  width: 100%;
  padding: 1px 3px;
}

/* SUBMIT BUTTON
------------------------------------------------------*/
input[type="submit"] {
  color: white;
  font-family: $font-family;
  background: $submit !important;
  line-height: normal;
  padding: 15px !important;
  border: none !important;
  margin: 0 0 5% 0;
  width: 150px;
}

input[type="submit"]:hover {
  background: lighten($submit, 20%) !important;
}

/* BOOTSTRAP RESETS
-------------------------------------------------------------*/
.bootstrap {
    label span {
        border-bottom-left-radius: 4px  !important;
        border-bottom-right-radius: 4px !important;
    }

    label:focus {
        padding-left: 15px;
        padding-right: 15px;
    }

    textarea {
        width: 100% !important;
    }

    .form-control {
        height: auto;
        border: 2px solid $not-focused;
    }

    label.error,
    input:focus + label span,
    input:focus:not(:required) + label span,
    input:valid + label span + label span,
    input:focus + label span + label span,
    textarea:focus + label span,
    textarea:focus + label span + label span,
    textarea:valid + label span + label span {
        background: $focus; /* Transformed label */
        color: white !important;
        font-size: 10px;
        padding: 1px 3px;
        margin: 0 !important;
        z-index: 1;
        text-transform: uppercase;
        display: block;
    }

    label.error + label span,
    label.error + label span + label span {
        background: $invalid !important;
    }

    label.error,
    input:active label,
    input:active:not(:focus) + label,
    input.error + label,
    input.error:focus + label,
    input.error:active + label,
    input.error + label + label,
    input.error:focus + label + label,
    input.error:active + label + label,
    textarea.error + label,
    textarea.error:focus + label,
    textarea.error:active + label,
    textarea.error + label + label,
    textarea.error:focus + label + label,
    textarea.error:active + label + label,
    input:focus + label,
    input:focus + label + label,
    input.valid:valid:not(:focus) + label,
    input.valid:valid:not(:focus) + label + label.valid,
    textarea:focus + label,
    textarea:focus + label + label,
    textarea:active:not(:focus) + label,
    textarea.valid:valid:not(:focus) + label,
    textarea.valid:valid:not(:focus) + label + label.valid,
    textarea:focus + label + label,
    textarea.valid:valid:not(:focus) + label,
    textarea.valid:valid:not(:focus) + label + label.valid  { /* This is what makes the label transform (don't tweak unless you know what you're doing) */
        top: 100% !important;
        padding: 0 15px !important;
        margin-top: -18px;
        font-size: 10px !important;
        z-index: 12;
    }

    input.valid:valid:not(:focus) + label span,
    input.valid:valid:not(:focus) + label span + label, span
    textarea.valid:valid:not(:focus) + label span,
    textarea.valid:valid:not(:focus) + label span + label span,
    input.valid:not(:required) + label span,
    textarea.valid:valid:not(:focus) + label span { /* If the field is valid and not focused or active */
        background: $not-focused;
        text-transform: uppercase;
        color: white;
        z-index: 10;
        display: block;
        width: 100%;
        margin: 0 !important;
        padding: 1px 3px;
    }

    label,
    input:focus label span,
    input:active label span {
        padding: 5px 20px !important;
        background-color: transparent;
    }
} // end bootstrap

/* RADIO, CHECK, SELECT RESETS
------------------------------------------------------*/
input[type="radio"] + label,
input[type="checkbox"] + label
select + label {
    background: none !important;
    transition : none;
    position: relative;
    padding: 0 !important;
}

.labelfloat-select {
    select {
        background: transparent;
        width: 100%;
        padding: 5px;
        border-radius: 0;
        border: 2px solid $not-focused;
        padding: 5px 2px;
    }

    select:focus {
        outline: none;
    }
}

.labelfloat-radio,
.labelfloat-checkbox {
    position: relative;
    margin: 5px 0;
}

.labelfloat-radio input,
.labelfloat-checkbox input {
    opacity: 0;
    z-index: 100;
    margin: 0 !important;
    font-size: inherit !important;
    position: absolute !important;
    height: 100%;
}


.labelfloat-radio input + label,
.labelfloat-checkbox input + label,

.labelfloat-radio input:checked + label,
.labelfloat-checkbox input:checked + label,

.labelfloat-radio input:focus + label,
.labelfloat-checkbox input:focus + label,

.labelfloat-radio input.error + label,
.labelfloat-checkbox input.error + label,

.labelfloat-radio input.error:checked + label,
.labelfloat-checkbox input.error:checked + label,

.labelfloat-radio input.error:focus + label,
.labelfloat-checkbox input.error:focus + label,

.labelfloat-radio input.valid:valid:not(:focus) + label,
.labelfloat-checkbox input.valid:valid:not(:focus) + label {
  margin: 0 !important;
  font-size: inherit !important;
  padding: 0 !important;
}


.labelfloat-radio input,
.labelfloat-radio label,
.labelfloat-checkbox input,
.label-float-checkbox label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  position: absolute;
}


.labelfloat-radio label,
.labelfloat-checkbox label {
  position: relative;
}

.labelfloat-radio input + label::before,
.labelfloat-checkbox input + label::before,

.labelfloat-radio input.error + label + label::before,
.labelfloat-checkbox input.error + label::before {
  content: '';
  background: $not-focused;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding: 2px;
  margin-right: 10px;
}

.labelfloat-radio {
    input + label::before,
    input.error + label + label::before {
        border-radius: 50%;
    }
}

.labelfloat-radio input:checked + label::before,
.labelfloat-checkbox input:checked + label::before {
  background: $focus;
}

.labelfloat-radio input.error  + label::before,
.labelfloat-checkbox input.error + label::before {
  background: $invalid;
}

.labelfloat-radio input.error  + label,
.labelfloat-checkbox input.error  + label {
  text-transform: inherit !important;
}



/* IE FIXES
-------------------------------------*/
.no-csstransitions {
    input,
    .no-csstransitions textarea {
        width: 100%;
        padding: 5px !important;

        border-top: 2px solid $not-focused;
        border-right: 2px solid $not-focused;
        border-bottom: none;
        border-left: 2px solid $not-focused;
    }

    label {
        position: relative !important;
        background-color: $not-focused !important;
        padding: 4px !important;
        font-size: 10px;
        color: white !important;

        border-top: none;
        border-right: 2px solid $not-focused;
        border-bottom: 2px solid $not-focused;
        border-left: 2px solid $not-focused;
    }

    .labelfloat-checkbox label,
    .labelfloat-checkbox label + label,
    .labelfloat-radio label,
    .labelfloat-radio label + label,
    .labelfloat-radio input,
    .labelfloat-checkbox input,
    .labelfloat-radio input.error + label,
    .labelfloat-radio input.error + label + label,
    .labelfloat-checkbox input.error + label,
    .labelfloat-checkbox input.error + label + label,
    .labelfloat-radio input:focus + label,
    .labelfloat-radio input:focus + label + label,
    .labelfloat-checkbox input:focus + label,
    .labelfloat-checkbox input:focus + label + label,
    .labelfloat-radio input.error:focus + label,
    .labelfloat-radio input.error:focus + label +label,
    .labelfloat-checkbox input.error:focus + label ,
    .labelfloat-checkbox input.error:focus + label  + label {
        background-color: transparent !important;
        border: none !important;
        color: $not-focused !important;
    }

    .labelfloat-radio input.error + label,
    .labelfloat-radio input.error + label + label,
    .labelfloat-checkbox input.error + label,
    .labelfloat-checkbox input.error + label + label {
        border: none !important;
    }

    input.error,
    textarea.error {
        padding: 0;
        border-top: 2px solid $invalid;
        border-right: 2px solid $invalid;
        border-bottom: none !important;
        border-left: 2px solid $invalid;
    }

    input.error + label span,
    input.error + label span + label span,
    textarea.error + label span,
    textarea.error + label span + label span {
        background: none !important;
        font-size: 9px;
        padding: 1px;
    }

    input.error + label,
    input.error + label  + label{ /* errors */
        background: $invalid !important;
        border-top: none;
        border-right: 2px solid $invalid !important;
        border-bottom: none !important;
        border-left: 2px solid $invalid !important;
    }

    input.error:focus { /* active errors */
        border-top: 2px solid $focus !important;
        border-right: 2px solid $focus !important;
        border-bottom: none !important;
        border-left: 2px solid $focus !important;
    }

    input.error:focus + label { /* active errors */
        background: $focus !important;
        border-top: none;
        border-right: 2px solid $focus !important;
        border-bottom: none !important;
        border-left: 2px solid $focus !important;
    }

    input:focus + label,
    input:focus + label + label
    textarea:focus + label,
    textarea:focus + label + label {
        background: $focus !important;

        border-top: none;
        border-right: 2px solid $focus;
        border-bottom: 2px solid $focus;
        border-left: 2px solid $focus;
    }
}
